.footer-banner {
  height: 350px;
  background-color: hsl(231, 69%, 60%);
  color: white;

  .footer-banner-container {
    height: 100%;
    padding: 3em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .footer-banner-text {
        text-transform: uppercase;
        letter-spacing: .3em;
        font-size: 16px;
    }

    .footer-banner-title {
        display: flex;
        align-items: center;
        font-size: 2rem;
        justify-content: center;
        width: 30%;
        text-align: center;
        font-weight: lighter;
        
    }

    .footer-contact-us {
        display: flex;
        align-items: center;
        input {
            width: 300px;
            height: 50px;
            padding: 1em;
            font-size: 18px;
            border-radius: 5px;
            border: none;
            margin: 0 1em 0 0;
        }
        button {
            height: 50px;
            padding: 1em 2em;
            font-size: 14px;
            border-radius: 5px;
            border: 2px solid hsl(0, 94%, 66%);
            background-color: hsl(0, 94%, 66%);
            color: white;
            cursor: pointer;


            &:hover {
                color:hsl(0, 94%, 66%);
                background-color: white;
            }
        }
    }
  }
}


@media screen and (max-width:500px) {
    .footer-banner {
        .footer-banner-container {
            .footer-banner-title {
                width: 100%;
                padding: 0 1.5em;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .footer-banner {
        .footer-banner-container {
            .footer-contact-us {
                input {
                    width: 200px;
                    font-size: 14px;
                }
                button {
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    padding: 0
                }
            }
        }
    }
}