.extensions {
    margin: 10em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .extensions-header {
        margin-bottom: 4em;
        .extensions-header-title {
            margin-bottom: 1em;
        }
        .extensions-header-text {
            
            font-size: 18px;
            line-height: 1.5em;
            width: 60%;
        } 
        
    }
    .card-container {
        display: flex;
        height: 500px;
        .extension-div-card {
            display: flex;
            flex-direction: column;
            height: 400px;
            justify-content: space-around;
            margin: 5em 2em 0 0;
            border-radius: 10px;
            box-shadow: 0 10px 20px #eee, 0 6px 6px #eee;

            .card-title {
                margin-bottom: .5em;
            }
            .card-button {
                background-color: hsl(231, 69%, 60%);
                color: white;
                width: 90%;
                padding: 1em 1.4em;
                border: none;
                border-radius: 5px;
                font-size: 1.1em;
            }
        }
    }
}