header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 6em;

  nav {
    .nav-list {
      display: flex;
      list-style: none;
      align-items: center;

      .nav-item {
        margin: 0 0 0 2.5em;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.8em;

        .nav-cta {
          padding: 1em 2.5em;
          margin: 0 0 0 1em;
          color: white;
          background-color: hsl(0, 94%, 66%);
          border: none;
          border-radius: 5px;
          text-transform: uppercase;
          letter-spacing: 1px;
          cursor: pointer;
          border: 1px solid hsl(0, 94%, 66%);

          &:hover {
            color: hsl(0, 94%, 66%);
            background-color: white;
            border: 1px solid hsl(0, 94%, 66%);
          }
        }

        &:hover {
          color: hsl(0, 94%, 66%);
        }
      }

      .nav-hamburger {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 2em;
    nav {
      .nav-list {
        .nav-item {
          display: none;
        }

        .nav-hamburger {
          display: block;
          cursor: pointer;
        }
      }
    }
  }
}
