.features {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .features-title {
    font-size: 1.5em;
  }

  .features-text {
    margin-top: 25px;
    font-size: 18px;
    width: 40%;
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
  }
}

nav {
  .features-nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 5em 20em;
    padding-bottom: 1.5em;
    border-bottom: solid 2px #eee;

    .features-nav-item {

    
      .navLink {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        padding-bottom: 22.5px;

        &:hover {
          color: hsl(0, 94%, 66%);
        }
  
        &:active {
          color: hsl(0, 94%, 66%);
        }
      }
      .active {
        color:hsl(0, 94%, 66%);
        border-bottom: 4px solid hsl(0, 94%, 66%);
      }
    }
  }
}
