.features {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .features-title {
    text-align: center;
    font-size: 1.5em;
  }

  .features-text {
    margin-top: 25px;
    font-size: 18px;
    width: 40%;
    text-align: center;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

nav {
  .features-nav-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 5em 20em;
    padding-bottom: 1.5em;
    border-bottom: solid 2px #eee;

    .features-nav-item {
      .navLink {
        text-decoration: none;
        color: black;
        font-size: 1.2rem;
        padding-bottom: 22.5px;

        &:hover {
          color: hsl(0, 94%, 66%);
        }

        &:active {
          color: hsl(0, 94%, 66%);
        }
      }
      .active {
        color: hsl(0, 94%, 66%);
        border-bottom: 4px solid hsl(0, 94%, 66%);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .features {
    .features-text {
      width: 100%;
      padding: 0 1.5em;
      line-height: 2em;
    }
  }

  nav {
    .features-nav-list {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0;
      padding: 2em 0em 4em 0;
      border-bottom: none;

      .features-nav-item {
        padding: 1.5em 0;
        border-bottom: 3px solid #eee;
        width: 80%;
        text-align: center;
      }
    }
  }
}
